/* Login.module.css */

.centerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: 10%;
    margin-left: 25%;
  }
  
  .paper {
    padding: 20px;
    max-width: 400px;
    width: 100%;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .button {
    margin-top: 16px;
  }